<style>
#clickPosition
{
   color: #ff0000;
}

#interface
{
   width: 800px;
   float: left;
}

#information
{

}

#selection
{
	width: 30%;
	float:left;
}

#res
{
	width:70%;
	float: right;

}
#canvas
{
	border:1px solid #d3d3d3;
	cursor: crosshair;
}

body {width: 99%}

h3 {text-align:right}

h2 {text-align:center}
</style>